body {
    margin: 0;
    color: whitesmoke;
    background-image: linear-gradient(to right, rgb(91, 151, 118), rgb(183, 230, 204), rgb(64, 187, 119));
}

main {
    margin: 0;
    background-color: whitesmoke;
}

