header {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.cart-icon {
    width: 75px;
}

.business-name {
    font-size: xx-large;
    
}