header {
    display: flex;
    align-items: center;
    padding-left: 10%;
    gap: 45px;
    height: 27vh;
}

.cart-icon {
    width: 75px;
}

.business-name {
    font-size: xx-large;
    
}

@media (max-width: 770px) {

    header{
        justify-content: center;
        padding: 0;
    }

}