.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 55px;
    justify-self: center;
    width: 75vw;
    padding-top: 35px;
    padding-bottom: 35px;
}

.product {
    position: relative;
    background-color: #5cb484;
    max-width: 300px;
    justify-self: center;
    padding: 3px;
    border-radius: 10px;
}

.product-image {
    width: 100%;
    height: 350px;
}


.Product-infos {
    height: 75px;
    padding: 3px;
}

.order-link {
    position: absolute;
    width: 47%;
    height: 45px;
    left: 25%;
    bottom: -22px;
    z-index: 10;
    background-color: rgb(245, 252, 246);
    border: 1px solid aquamarine;
    border-radius: 7px;
    color: rgb(7, 160, 76);
    text-align: center;
    font-size: large;
}

.product a {
    text-decoration: none;
}

@media (max-width: 770px) {

    .products {
        grid-template-columns: 1fr;
    }

}

@media (min-width: 771px) and (max-width: 1100px) {

    .products {
        grid-template-columns: 1fr 1fr;
        /* this says when the page is at 750px or less show only 2 products pr row */
    }
}